server:
  port: 8084

spring:
  application:
    name: payment-service
  datasource:
    url: jdbc:postgresql://localhost:5434/paymentdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}

management:
  endpoints:
    web:
      exposure:
        include: health,info

momo:
  partnerCode: ${MOMO_PARTNER_CODE:MOMOBKUN20180529}
  accessKey: ${MOMO_ACCESS_KEY:klm05TvNBzhg7h7j}
  secretKey: ${MOMO_SECRET_KEY:at67qH6mk8w5Y1nAyMoYKMWACiEi2bsa}
  environment: ${MOMO_ENVIRONMENT:dev}
  callbackUrl: ${MOMO_CALLBACK_URL:http://api-gateway:8080/api/payments/momo/webhook}
  redirectUrl: ${MOMO_REDIRECT_URL:http://localhost:3000/payment-result}
  partnerName: ${MOMO_PARTNER_NAME:BookingTour}
  storeName: ${MOMO_STORE_NAME:BookingTourStore}
  requestType: ${MOMO_REQUEST_TYPE:captureWallet}
  orderInfo: ${MOMO_ORDER_INFO:BookingTour payment}
  extraData: ${MOMO_EXTRA_DATA:}
  lang: ${MOMO_LANG:vi}

