server:
  port: 8081
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

spring:
  application:
    name: user-service
  datasource:
    url: jdbc:postgresql://postgres-db:5432/userdb?useUnicode=true&characterEncoding=UTF-8
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        jdbc:
          time_zone: Asia/Ho_Chi_Minh
          charset: UTF-8
        connection:
          characterEncoding: UTF-8
          useUnicode: true
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  rabbitmq:
    host: rabbitmq
    port: 5672
    username: guest
    password: guest
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_CLIENT_ID:Iv23liLKJKx7zX5P8P9l}
            client-secret: ${GITHUB_CLIENT_SECRET:your_github_client_secret_here}
            scope: user:email
            redirect-uri: "http://localhost:8080/api/users/login/oauth2/code/github"
          google:
            client-id: ${GOOGLE_CLIENT_ID:647139008177-bn7pulod8unbft0k07c8rde26h8om2no.apps.googleusercontent.com}
            client-secret: ${GOOGLE_CLIENT_SECRET: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}
            scope: openid,profile,email
            redirect-uri: ${GOOGLE_REDIRECT_URI:http://localhost:3000/auth/callback}
        provider:
          github:
            authorization-uri: https://github.com/login/oauth/authorize
            token-uri: https://github.com/login/oauth/access_token
            user-info-uri: https://api.github.com/user
            user-name-attribute: login
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
            user-name-attribute: sub

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${spring.application.instance_id:${random.value}}

management:
  endpoints:
    web:
      exposure:
        include: health,info

jwt:
  secret: mySecretKeyForJWTTokenGenerationThatNeedsToBeAtLeast256BitsLong
  expiration: 86400000

oauth:
  github:
    client-id: ${GITHUB_CLIENT_ID:Ov23liWUSMlVs3MmpqvQ}
    client-secret: ${GITHUB_CLIENT_SECRET:180a60169755844be487bb6e56d83c0621211615}
    redirect-uri: ${GITHUB_REDIRECT_URI:http://localhost:3000/auth/callback}
    frontend-success-uri: ${GITHUB_FRONTEND_SUCCESS_URI:http://localhost:3000/auth/callback}
    frontend-error-uri: ${GITHUB_FRONTEND_ERROR_URI:http://localhost:3000/auth/error}
  google:
    client-id: ${GOOGLE_CLIENT_ID:647139008177-bn7pulod8unbft0k07c8rde26h8om2no.apps.googleusercontent.com}
    client-secret: ${GOOGLE_CLIENT_SECRET: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}
    redirect-uri: ${GOOGLE_REDIRECT_URI:http://localhost:3000/auth/callback}
    frontend-success-uri: ${GOOGLE_FRONTEND_SUCCESS_URI:http://localhost:3000/auth/callback}
    frontend-error-uri: ${GOOGLE_FRONTEND_ERROR_URI:http://localhost:3000/auth/error}
